//fonts 
$default-font: "aleo";
$secondary-font: 'Josefin Sans';

//color 
$white: #fff;
$black: #000;
$semi-black: rgba(35, 35, 35, 0.9);
$grey: #999;
$blue: #5373FD;
$btn-trap: #486BFE;
$dark-grey: #333;
$red: #FF6363;
$light-blue: #00A2FF;


